*{
    font-family: cursive;
}
h1{
    text-align: center;
    text-decoration: underline;
}

.introduction{
    height: 100px;

    text-align: center;
    border: 2px solid rgb(231, 138, 138);
    background-color:bisque;

}

.ingredients{
    height: 200px;
    /* width:350px; */
    border: 2px solid rgb(231, 138, 138);
    border-radius: 3px;
    margin-top: 5px;
    margin-left: 3px;
    background-color:pink;
/* display: inline-block; */
color: green;
font-family: cursive;
text-align: center;
text-decoration: none;

}

.instructions{
    height: 200px;
    /* width: 350px; */
    border: 2px solid black;
    margin-top: 5px;
    background-color: bisque;
    /* display: inline-block; */
    text-align: center;
}

footer{
 text-align: center;
    height: 60px;
    border: 2px solid black;
    margin-top: 5px;
    background-color:bisque;
}


body{
    background-color: rgb(231, 138, 138);
}

li{
    text-align: left;
}

