*{
    padding: 0px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}

header{
    height: 100px;
    width: 100%;
    background-color: rgb(126, 16, 126);
    position:fixed;
    top: 0px;
}

h1{
    /* border: 2px solid palegreen; */
    text-align: center;
    color: white;
    margin-bottom: 10px;
    padding: 10px;
}

nav{
    /* border: 2px solid black; */
    padding: 5px;
}

ul{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

li{
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
}
a{
    display: inline-block;
          text-decoration: none;
    color: white;
}

main{
    height: 4000px;
    border: 2px solid black;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
    /* align-items: center; */
    margin-top: 50px;
    margin-bottom: 50px;
}

.article{
    /* border: 2px solid red; */
    height: 1050px;
    width: 90%;
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; */
}

h2{
    font-size: 30px;
}

footer{
    background-color: rgb(126, 16, 126);
    height: 40px;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
}